<div class="container">
  <button type="button" class="btn btn-primary m-3" (click)="goToAddChart()">Add Chart</button> 

  <table class="table table-striped">
    <thead>
      <tr>
        <th>ChartName</th>
        <th>API URL</th>
        <th>X-axis</th>
        <th>Y-axis</th>
        <th>Chart Type</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let param of tableData">
        <td>{{ param.chartName }}</td>
        <td>{{ param.apiUrl }}</td>
        <td>{{ param.xAxisValues }}</td>
        <td>{{ param.yAxisValues }}</td>
        <td>{{ param.selectedChartType }}</td>
        <td>
          <div class="btn-group">
            <button type="button" class="btn btn-primary" (click)="editChartParams(param)">
              <i class="fas fa-edit"></i> Edit
            </button>
            <button type="button" class="btn btn-danger" (click)="deleteChartParams(param)">
              <i class="fas fa-trash-alt"></i> Delete
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <button type="button" class="btn btn-primary mb-3" (click)="goToDashboard()">Dashboard</button> 

</div>
